#ifndef ACTIONMESSAGE_${CLASS_NAME}_H
#define ACTIONMESSAGE_${CLASS_NAME}_H

class ${CLASS_NAME}
{
public:
  ${CLASS_NAME}(
    const std::vector<uint8_t>& data);

  virtual ~${CLASS_NAME}();

  std::unique_ptr<${CLASS_NAME}> definitionGet();

private:
  std::vector<uint8_t> m_data;
};

#endif
